.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  height: 100vh;
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 79.01%, 2.00% 78.89%, 4.00% 79.66%, 6.00% 81.25%, 8.00% 83.54%, 10.00% 86.36%, 12.00% 89.50%, 14.00% 92.72%, 16.00% 95.76%, 18.00% 98.41%, 20.00% 100.46%, 22.00% 101.75%, 24.00% 102.19%, 26.00% 101.74%, 28.00% 100.44%, 30.00% 98.39%, 32.00% 95.73%, 34.00% 92.68%, 36.00% 89.47%, 38.00% 86.33%, 40.00% 83.52%, 42.00% 81.23%, 44.00% 79.65%, 46.00% 78.89%, 48.00% 79.02%, 50.00% 80.01%, 52.00% 81.81%, 54.00% 84.27%, 56.00% 87.20%, 58.00% 90.38%, 60.00% 93.57%, 62.00% 96.53%, 64.00% 99.04%, 66.00% 100.89%, 68.00% 101.96%, 70.00% 102.16%, 72.00% 101.47%, 74.00% 99.95%, 76.00% 97.71%, 78.00% 94.93%, 80.00% 91.81%, 82.00% 88.60%, 84.00% 85.52%, 86.00% 82.83%, 88.00% 80.72%, 90.00% 79.35%, 92.00% 78.84%, 94.00% 79.20%, 96.00% 80.43%, 98.00% 82.42%, 100.00% 85.03%);
}
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.hero-content {
  max-width: 600px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  
}

.hero-buttons {
  margin-top: 2rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 1rem;
}

.button.primary {
  background: #007bff;
  color: #fff;
}

.button.secondary {
  background: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
}

.hero-image img {
  border-radius: 50%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  flex: 1 1 300px;
}
@media screen and (max-width: 1024px) {
    .hero {
      flex-direction: column;
      text-align:justify;
    }
    .hero-image {
      margin-top: 2rem;
    }
  }

