

.header-container {
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000; 
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
  height: 70px;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: normal;
  transition: color 0.3s ease; /
}
.hamburger-menu{
  display: none;
}

.nav-menu li a:hover {
  color: #61dafb;
}
.nav-item:hover {
  color: #111c1f;
}

.hidden-menu {
  display: none;
}

.hidden {
  display: none;
}

.menu-open {
  display: none;
}

@media screen and (max-width: 1080px) {

  .hamburger-menu {
    display: block;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1100;
  }

  .nav-menu {
    display: none !important;
  }
  .hidden-menu {
    display: block;
  }

  .menu-open {
    display: block;
    position: fixed;
   inset: 0;
   width: 100%;
    height: 100vh;
    background-color: #282c34;
    padding: 2rem;
    z-index: 2000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .menu-open .menu-links {
    position: inherit;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .menu-links li {
    color: white;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 2rem;
  }

  .menu-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .menu-links li a:hover {
    color: #61dafb;
  }

 }