

.header-container {
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000; 
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  transition: color 0.3s ease; /
}

.nav-menu li a:hover {
  color: #61dafb;
}
.nav-item:hover {
  color: #111c1f;
}

@media screen and (max-width: 480px) {
  .nav-item {
    display: none;
  }
}