

.header-container {
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000; 
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  transition: color 0.3s ease; /
}

.nav-menu li a:hover {
  color: #61dafb;
}
.nav-item:hover {
  color: #111c1f;
}
.sidebar-container {
  position: fixed;
  top: 0;
  right: -100%; /* Começa totalmente fora da tela */
  width: 300px; /* Ou o tamanho que preferir */
  height: 100vh;
  background-color: #222;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  
  /* Animação suave */
  transition: right 0.4s ease-in-out;
  z-index: 100;
}

/* Estado da sidebar quando está aberta */
.sidebar-container.open {
  right: 0; /* Move a sidebar para a posição visível */
}

.sidebar-menu {
  list-style: none;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.hamburger-trigger {
  cursor: pointer;
  z-index: 101; /* Garante que o gatilho fique acima de tudo */
  /* Posicione conforme necessário. Em telas menores, o nav-menu pode ser escondido */
}
@media screen and (max-width: 480px) {
  .nav-item {
    display: none;
  }
  .nav-menu {
    display: none;
  }
}