.projects-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f9f9f9;
  height: 300px;
}

.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
}

.mySwiper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ff8c00;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #ff8c00;
}